/* CateringComponent.css */

.blocks {
  display: flex;
  height: 500px;
  overflow: clip;
}

.blocks img {
  height: 100%;
  width: 100%;
  will-change: filter;
  object-fit: cover;
}

.block {
  container: block/inline-size;
  flex: 1;
  margin-right: -20%;
  transition: .25s flex .125s linear;
  will-change: flex;
}

.block a {
  position: relative;
}

.block div {
  position: absolute;
  top: 13rem;
  left: 1rem;
  color: #fff;
  font-size: clamp(12px, 5cqw, 32px);
  z-index: 2;
}

.block:first-child img {
  filter: grayscale(0);
}

.block img {
  filter: grayscale(1);
}

.block:hover {
  flex: 8;
}

.block:hover img {
  filter: grayscale(0);
}


.block:last-child {
  margin-right: -15%;
}

.blocks .block:hover .conr {
  display: none;
}
.show {
  display: none; /* Set default display to none */
}
.blocks .block:hover .show{
  display: block;
  
}
